.App {   
   
   background-image: url(./image/oscuro.png); 
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
   flex-wrap: wrap;
   
   }
   nav {
      background-color: rgba(9, 1, 248, 0.384);
      padding: 15px;
   
    }
    

 
    
   
    
   
    
   
    